.navbar_wrapper {
  display: none;
}
@media screen and (max-width: 900px) {
  .navbar_wrapper {
    height: 100%;
    background: #191e1e;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
  }

  .navbar_subitems {
    display: block;
    padding: 3rem;
  }
}
