.main_button {
    border: 2px solid #111;
    border-radius: 0;
    font-size: 0.9rem;
    font-weight: 700;
    height: auto;
    line-height: 20px;
    padding: 15px 30px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    background: transparent;
    text-align: center;
  }
  
  .main_button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
  }