.main {
  background: var(--bg-light-color);
}

.main_content {
  padding: 5.75rem 0;
}

.main_description {
  margin-top: 20px;
  max-width: 960px;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
}

.extra_main {
  background: linear-gradient(45deg, #6db33f 26%, #80ea6e 89%);
  height: 6px;
  margin-top: 3px;
}
