*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  text-transform: capitalize;
  font-size: 3.5rem;
  font-family: "Metropolis Medium", sans-serif;
}

h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-family: "Metropolis Medium", sans-serif;
  font-weight: 400;
}

p {
  line-height: 1.7rem;
  color: #61717d;
  font-size: 1rem;
  font-weight: 400;
}

body {
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
img {
  max-width: 60px;
  max-height: 40px;
  height: auto;
  width: 100%;
}

html {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --bg-color: #fff;
  --header-border-color: #ebf2f2;
  --logo-fill-color: #6cb52d;
  --text-color: #111;
  --bg-light-color: #ebf2f2;
  --vers-color: #80ea6e;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1344px;
  width: 100%;
}

.header {
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--header-border-color);
}

.navbar {
  display: flex;
  padding: 5px 0;
}

.logo {
  width: 100%;
  fill: #6cb52d;
}

.navbar_logo {
  display: flex;
}

.navbar_logo_link {
  display: flex;
}

.navbar_links {
  display: flex;
  justify-content: space-between;
}

.navbar_items {
  display: flex;
  align-items: center;
  margin-right: -0.75rem;
}

.navbar_item {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.navbar_link {
  padding-right: 2rem;
}

.navbar_item {
  color: var(--text-color);
  font-size: 0.95rem;
  text-transform: capitalize;
  font-family: "Metropolis Medium", sans-serif;
  align-items: center;
  padding: 0.5rem 0.75rem;
}

.arrow::after {
  content: " ";
  height: 0.5rem;
  width: 0.5rem;
  border-bottom: 2px solid var(--text-color);
  border-left: 2px solid var(--text-color);
  border-radius: 1px;
  transform: rotate(-45deg);
  margin-left: 0.5rem;
  margin-top: -0.1rem;
}

.navbar_dropdown_content {
  padding: 1rem;
  display: none;
  background-color: var(--bg-color);
  box-shadow: 0 5px 30px 0 rgba(108, 135, 135, 0.5);
  border-radius: 3%;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.navbar_dropdown_link {
  padding-right: 3rem;
  text-decoration: none;
  color: var(--text-color);
}

.navbar_dropdown_content li {
  padding: 0.375rem 1rem;
}

.navbar_dropdown_content a:hover {
  color: var(--logo-fill-color);
}

.navbar_link:hover .navbar_dropdown_content {
  transition: all 0.3s ease;
  display: block;
}

.navbar_burger{
    display: none;
}

.navbar_burger_icon {
    cursor: pointer;
    height: 48px;
    position: relative;
    transition: 0.4s cubic-bezier(0, 0, 0, 1);
    user-select: none;
    width: 48px;
    outline: none;
    transform: none;
    display: flex;
    gap: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar_burger_line{
    height: 2px;
    background: currentcolor;
    transition: 0.4s cubic-bezier(0, 0, 0, 1);
    transform: none;
    width: 24px;
}

.main {
  background: var(--bg-light-color);
}

.main_content {
  padding: 5.75rem 0;
}

.main_description {
  margin-top: 20px;
  max-width: 960px;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
}

.main_button {
  border: 2px solid #111;
  border-radius: 0;
  font-size: 0.9rem;
  font-weight: 700;
  height: auto;
  line-height: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  background: transparent;
  text-align: center;
}

.main_button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.extra_main {
  background: linear-gradient(45deg, #6db33f 26%, #80ea6e 89%);
  height: 6px;
  margin-top: 3px;
}

.projects {
  background: var(--bg-color);
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid var(--header-border-color);
}

.projects_items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.projects_wrap{
    padding: 0.75rem;
    width: 33.33%;
    flex: none;
}

.projects_link {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04);
    padding: 25px 20px 30px;
    transition: box-shadow 0.2s, border 0.2s, transform 0.2s ease-in-out;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.projects_link:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.projects_item {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0;
  background: none;
}

.projects_title {
  display: flex;
}

.projects_image {
  width: 60px;
  height: 40px;
  display: flex;
}

.projects_image img {
  max-width: 60px;
  max-height: 40px;
  width: auto;
  height: auto;
}

.projects_info {
  display: flex;
  align-items: center;
}

.projects_info h3 {
  color: var(--text-color);
  text-align: center;
}

.projects_version {
  background: var(--vers-color);
  color: var(--text-color);
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 4px;
  padding-left: 0.75em;
  padding-right: 0.75em;
  line-height: 1.5;
  height: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.projects_version_text {
    margin-left: 0.5rem;
    font-size: 0.75rem;
}


.projects_desc {
  font-size: 1rem;
  color: #61717d;
}

.projects_desc p {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  line-height: 1.7;
}

.projects_versions {
  display: flex;
  align-items: center;
}

.projects_version_text {
  font-size: 0.75rem;
  color: #61717d;
  line-height: 1.7rem;
}


@media screen and (max-width: 1000px) {
    .container{
        padding: 0 2rem;
    }
}

@media screen and (max-width: 800px) {

    .projects_wrap {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .navbar_items{
        display: none;
    }
    .navbar_burger{
        display: block;
        cursor: pointer;
    }
}